.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.border{
  padding: 15px;
  height: 60vh;
  width: 80vw;
  border-radius: 8px;
}
.innerbox{
  border-radius: 8px;
  height: 60vh;
  width: 80vw;
  
}